body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

textarea {
    max-width: 100px; 
    max-height: 100px;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: aqua;

}

.sidebar {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: brown;
    flex: 1;
}

.formArea {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#createTaskForm{
    display: flex;
    flex-direction: column;
}


.hover-effect:hover {
    /* Styles for the div on hover */
    background-color: blue;
    color: black;
  }
.projectArea {
    flex: 1;
}

.projectDeleteButtons {
    width: 30px;
    height: 20px;
    margin-left: 10px;
} 

.addTaskButtons {
    height: 20px;
    margin-left: 10px;
}


#projectFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 45vw;
    top: 30vh;
    right: 100px;
    background-color: blueviolet;
    width: 500px;
    height: 300px;
}

#taskEditContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 45vw;
    top: 30vh;
    right: 100px;
    background-color: green;
    width: 500px;
    height: 300px;
}

.taskArea{
    flex: 2;
    width: 75%;
}